# Local .terraform directories
**/.terraform/*
.terraform.lock.hcl

# .tfstate files
*.tfstate
*.tfstate.*
*.tfplan

# Variables and Secrets
*.tfvars
*.tfvars.json
.env
credentials.json

# Python and UV
.venv/
__pycache__/
*.pyc
.ruff_cache/
.pytest_cache/

# Crash log files
crash.log

# Overrides
override.tf
override.tf.json

# CLI configuration files
.terraformrc
terraform.rc

# Lambda and Build artifacts
builds/
dist/
