name: Build and Push Docker Images

on:
  release:
    types: [published]
  push:
    tags: [v*]
    branches: [main]

permissions:
  id-token: write # Required for OIDC
  contents: read  # Required for checkout
jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::222341826240:role/ecr-push-terraform-aws-ecs-events-to-slack
          aws-region: eu-central-1

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1

      - name: Get short SHA
        id: get_sha
        run: echo "SHORT_SHA=$(git rev-parse --short HEAD)" >> $GITHUB_ENV

      - name: Get tag name or SHA
        id: get_tag
        run: |
          if [[ "${GITHUB_REF}" == refs/tags/* ]]; then
            echo "GIT_TAG=${GITHUB_REF##*/}" >> $GITHUB_ENV
          else
            echo "GIT_TAG=${{ env.SHORT_SHA }}" >> $GITHUB_ENV
          fi

      - name: Build and push image
        uses: docker/build-push-action@v5
        with:
          context: functions/
          file: functions/Dockerfile
          push: true
          tags: 222341826240.dkr.ecr.eu-central-1.amazonaws.com/terraform-aws-ecs-events-to-slack:${{ env.GIT_TAG }}
          provenance: false
